@model Projeto01.GestaoVendas.Models.Pagamento

@{
    ViewBag.Title = "Efetivar Pagamento";
}

<h2>Efetivação de Pagamentos</h2>

<h3>Tem certeza que deseja fechar a fatura para este pagamento?</h3>
<div>
    @using (Html.BeginForm())
    {
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NumeroPedido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumeroPedido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumeroCartao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumeroCartao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataPagamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>
        </dl>
                    @Html.AntiForgeryToken()

        @Html.HiddenFor( p=> p.PagamentoId)

        
        <div class="form-actions no-color">
            <input type="submit" value="Fechar a fatura" class="btn btn-primary" /> |
            @Html.ActionLink("Retornar para a lista", "ListarPagamentos")
        </div>
    }
</div>
