@{
    ViewBag.Title = "IncluirCartao";
}

<h2>Incluir Cartão</h2>


<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Núm. Cartão", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("cartao", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Titular", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("titular", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Limite", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("limite", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Id Cartão", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("idCartao", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="incluirButton" value="Incluir Cartão" class="btn btn-primary" />
            <input type="button" id="buscarButton" value="Buscar Cartão" class="btn btn-primary" />
        </div>
    </div>
</div>


@section scripts
{
    <script>

        document.getElementById('buscarButton').addEventListener('click', function () {
            let id = document.getElementById('idCartao');
            let url = `http://localhost:53610/cartoes/buscar/${id}`;
            let resposta = {};

            fetch(url).then(res => {
                let x = res.json();
                return x;
            }).then(valor => {

                resposta = valor;
                console.log(resposta);
                document.getElementById('cartao').value = resposta.NumeroCartao;
                document.getElementById('titular').value = resposta.Titular;
                document.getElementById('limite').value = resposta.Limite;
            }).catch(erro => console.log(erro));
        });


        $(document).ready(function () {




            //$("#buscarButton").click(function () {
            //    var id = $("idCartao").val();
            //    $.ajax({
            //        dataType: 'json'.
            //        url:  `http://localhost:53610/cartoes/buscar/${id}`,
            //        method: 'GET',
            //        success: function (resposta) {
            //            console.log(resposta);
            //           $("#cartao").val(resposta.NumeroCartao);
            //           $("#titular").val(resposta.Titular);
            //           $("#limite").val(resposta.Limite);
            //        },
            //        error: function (erro) {
            //            console.log(erro.responseText);
            //        }
            //    });
            //});


            $("#incluirButton").click(function () {
                var cartao = $("#cartao").val();
                var titular = $("#titular").val();
                var limite = $("#limite").val();

                //funcao ajax
                $.ajax({
                    url: "http://localhost:53610/cartoes/incluir",
                    method: "POST",
                    data: {
                        NumeroCartao: cartao,
                        Titular: titular,
                        Limite: limite
                    },
                    success: function (resposta) {
                        window.alert('Dados do cartão incluídos!');
                    },
                    error: function (erro) {
                        window.alert('Erro: ' + erro.responseText);
                    }
                });
            });
        });
    </script>
}